/*Style sheet*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
  margin:0;
  padding:0;
}

body{
  font-family:arial;
}

nav { /*Nav bar */
  height: 61px;
  grid-column:1/9;
  background-color: black;
}

.nav-title {
  height: 100%;
  grid-column:2/9;
  background-color:red;
  padding-right:10px;
}

.nav-title p {
  float:left;
  font-size:30px;
  padding:10px 0 10px 10px;
  font-family:arial;
  color:white;
}

.mainlinks{
  font-family: 'Varela Round';
  background-color:black;
  margin-left:auto;
  width:450px;
}

.mainlinks li a{ 
  display:inline-block;
  text-decoration:none;
  color: white;
  padding: 20.5px;
}
.mainlinks li{ 
  list-style:none;
  background-color:black;
  display:inline-block;
  text-decoration:none;
}

.mainlinks a:hover{
background-color: #f1f1f1;
color: #111;
}


/* Style The Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  font-family: 'Varela Round';
  padding: 20.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left:auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: 'Varela Round';
  display: none;
  position: absolute;
  background-color: #111;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  margin-left:0px;
  padding-top:5px;
  padding-bottom:5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  display: block;
  margin:auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;color: #111;width:73%;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color: #111;
}

table{
   border-collapse: collapse;
   width: 100%;
   text-align: center; 
   padding:10px;
}

tr{
  color: black;
  height:50px;
}

td{
  padding-top:5px;
  padding-bottom: 5px;
}

tr:nth-child(odd){
  background-color:lightgray; 
}

th{
  height:50px;
  width:100px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width:400px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.tabcontent table tr th{
  padding:10px;
  font-size: 20px;
}

.tabcontent table tr td{
  padding:10px;
}

.grid-content{
  background-color: green;
}
#your_library_content{
  height:600px; 
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 60px 200px 100px 100px 100px;
  display: grid;
}

.music_data_div{
  height:600px;
  border: 5px solid black;
  grid-row: 4/5;
  grid-column: 3/10;
  overflow: auto;
}

.sidebar{
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column: 1/2;
  height:500px;
  width:150px;
  border: 5px solid black;
}

.image{
  width: 250px;
  height:250px;
  grid-row: 2/3;
  grid-column: 3/4;
  border: 5px solid black;
}

.playlist_details{
  width: 250px;
  height:100px;
  margin-top: 100px;
  grid-row: 2/3;
  grid-column: 5/6;
  border: 5px solid black;
}

.login_box{
  width: 320px;
  height: 420px;
  background-color: black;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login_box h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

.login_box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login_box input{
  width: 100%;
  margin-bottom: 20px;
}

.login_box input[type = "text"], input[type = "password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login_box input[type = "submit"]{
  width: 100%;
  border: none;
  outline: none;
  height: 45px;
  color:white;
  background-color: #274196;
  font-size: 18px;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 20px;
  top: 5px;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
